venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.npy
*.csv
*.npz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

.txt
.txt.*
.txt.*.*
.txt.*.*.*
.txt.*.*.*.*
.txt.*.*.*.*.*
.txt.*.*.*.*.*.*

/data/images/

FUTURE_TODO.txt
TODO.txt

# PyInstaller Folders
dist/
build/

# PyInstaller Spec File (optional, usually tracked)
# *.spec

# MacOS system files
.DS_Store

# Debugging files
debug_processed_b64_sample_*.png

# Data files - Added
data/
