venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

*.npy
*.csv
*.npz

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*

.txt
.txt.*
.txt.*.*
.txt.*.*.*
.txt.*.*.*.*
.txt.*.*.*.*.*
.txt.*.*.*.*.*.*

FUTURE_TODO.txt
TODO.txt